@use '../../base/' as b;
@use '../../mixin/' as m;
section{
    width: 100%;
    padding:30px 20px;
    background-color:b.$color-darkblue;

}
.section-wrapper{
    background: rgb(25,53,90);
    background: linear-gradient(
    0deg
    rgba(25,53,90,1) 0%,
    rgba(25,53,90,0.9416141456582633)
      107%);
}
.seperator{
    border-bottom:0.4em solid #e6c2bb;
    width: 10%; 
    margin: 15px 0;
}


.description-nonOpacity{
    @extend %description-extention;

        &.fade-in{
            @include m.fade-in(1.2s);
       }
    }