@use '../../base/' as b;
@use '../../mixin/' as m;

.side-image-information {
    background-color: white;
    .wrapper {
        display: grid;
        @media (min-width: 1300px) {
            grid-template-columns: repeat(7, 1fr);
            align-items: center;
        }
        .description {
            @include m.description($margin: 0);
            place-self: center;
            grid-column: 1/3;
            @media (min-width: 1300px) {
                // transform: translatex(28%);
                grid-column: 2 / 3;
            }
        }
        &.fade-in > * {
            @include m.fade-in(1.2s);
        }
    }
}
.side-image {
    opacity: 0;
    object-fit: cover;
    width: 100%;
    height: auto;
    grid-column: 3 / -1;
    @media (min-width: 1300px) {
        width: 100%;
        grid-column: 4 / -1;
    }
}
